$Font-family2:Cooper Black;
#formbuttons{
    background-color: blue;
    width: 80px;
    height: 30px;
    color: rgb(255,255,255);
    border-radius: 5px;
    border: 1px solid black; 
    font-family: $Font-family2;


}
#formbuttons1{
    background-color: rgb(255, 0, 0);
    width: 80px;
    height: 30px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid black; 
    font-family: $Font-family2;


}