@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box ;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background: linear-gradient(to right, #AED6F1,#AED6F1);
}
.resume{
    width: 800px;
    background: #fff;
    margin:25px auto;
    display:flex;
}
.left{
    background: #808080;
    width:300px;
    padding:0 20px;
}
.right{
    width: calc(40% - 250px);


}
.left .img_holder{
    text-align: center;
    padding: 20px 0;
}
.left .img_holder img{
    width: 200px;
    border-radius: 30px;
}
.pb{
    Padding-bottom: 20px;
}
.title{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
   position: relative;
   color:Orange; 
    text-align: right;
    margin-bottom:15px;
} 
.title: before{
 content:"";
 position: absolute;
 top: 35px;
 right: 0;
 width: 50px;
 height: 3px;
 background: MediumSeaGreen ;

}
.left .text{
     color: Orange;
     text-transform: uppercase;
     font-size: 13px;
}
.contect .li_warp{
    display:flex;
    aLign-items: center;
    width: 100%;
    margin-bottom: 15px;;
}
.contact .li_warp .text{
    width: calc(100% -5%);
    word-break: break-word;
    color:#fff
}
.Skills ul,
.hobbies ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Skills .li_warp .text{
    margin-top: 5px;
}
.hobbies .li_warp .text{
    margin-top: 5px;
}
header{
    background:#808080;
    padding:  15px 30px;
    color:#fff;
    height: 240px:
}
.header .name{
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 700;
    color:green;
}

.header .role{
    font-weight: 700;
    font-size: 20px;
    }
    
.header .about{
    margin-top: 20px;
    line-height: 26px ;
}
.hobbies ul{
    margin-top: 5px;
}